.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.profile-img{
    border-radius: 50%;
    width: 200px;
}

.profile-title{
    margin: 10px;
    font-size: 25px;
}

.profile-span{
    font-weight: bold;
    font-size: 20px;
}

.profile-desc{
    width: 900px;
    text-align: center;
    font-size: 17px;
}

.profile-contact{
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 18px;
}

.profile-link{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {

    .container{
        width: 100vw;
        height: 100vh;
    }    

    .profile-title{
        font-size: 18px;
        margin: 20px 0px;
    }

    .profile-desc{
        max-width: 90vw;
    }

    .profile-contact{
        margin: 10px 0px;
        width: fit-content;
        flex-direction: column;
    }
}