.skill-container{
    height: 260px;
    width: 400px;
    display: flex;
    align-items: self-end;
}

.skill-div{
    position: relative;
    width: 400px;
    height: 180px;
    display: flex;
    flex-direction: column;
    border: 2px solid green;
    border-top-right-radius: 50px;
}

.skill-logo{
    position: absolute;
    top: -50px;
    left: 20px;
}

.skill-info{
    padding: 68px 15px 0px 30px;
}

.skill-title{
    font-weight: bold;
    font-size: 20px;
}

.skill-desc{
    font-size: 16px;
}

@media only screen and (max-width: 768px) {

    .skill-container{
        height: 240px;
        min-height: 200px;
        width: 90vw;
    }

    .skill-div{
        width: fit-content;
        height: fit-content;
    }

    .skill-info{
        padding: 40px 15px 10px 30px;
    }

    .skill-logo{
        width: 80px;
    }
    
}